
DemoFirstCsharp/.vs/DemoFirstCsharp/FileContentIndex/a1e5964c-a5b2-4208-8ae5-e6e8e8f09cbe.vsidx
DemoFirstCsharp/.vs/DemoFirstCsharp/v17/.suo
DemoFirstCsharp/.vs/DemoFirstCsharp/v17/DocumentLayout.json
DemoFirstCsharp/DemoFirstCsharp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DemoFirstCsharp/DemoFirstCsharp/Program.cs
DemoFirstCsharp/.vs/DemoFirstCsharp/v17/.suo
DemoFirstCsharp/.vs/DemoFirstCsharp/v17/DocumentLayout.json
DemoFirstCsharp/DemoFirstCsharp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DemoFirstCsharp/DemoFirstCsharp/Program.cs
DemoFirstCsharp/DemoFirstCsharp/Program.cs
DemoFirstCsharp/DemoFirstCsharp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DemoFirstCsharp/DemoFirstCsharp/obj/Debug/DemoFirstCsharp.pdb
DemoFirstCsharp/DemoFirstCsharp/obj/Debug/DemoFirstCsharp.exe
DemoFirstCsharp/DemoFirstCsharp/obj/Debug/DemoFirstCsharp.csproj.FileListAbsolute.txt
DemoFirstCsharp/DemoFirstCsharp/obj/Debug/DemoFirstCsharp.csproj.CoreCompileInputs.cache
DemoFirstCsharp/DemoFirstCsharp/bin/Debug/DemoFirstCsharp.pdb
DemoFirstCsharp/DemoFirstCsharp/bin/Debug/DemoFirstCsharp.exe.config
DemoFirstCsharp/DemoFirstCsharp/bin/Debug/DemoFirstCsharp.exe
DemoFirstCsharp/.vs/DemoFirstCsharp/v17/DocumentLayout.json
DemoFirstCsharp/.vs/DemoFirstCsharp/v17/.suo
DemoFirstCsharp/.vs/DemoFirstCsharp/FileContentIndex/bbb99b59-6fbc-413b-8290-b6edb93a8bbc.vsidx
