
DemoFirstCsharp/.vs/DemoFirstCsharp/FileContentIndex/a1e5964c-a5b2-4208-8ae5-e6e8e8f09cbe.vsidx
DemoFirstCsharp/.vs/DemoFirstCsharp/v17/.suo
DemoFirstCsharp/.vs/DemoFirstCsharp/v17/DocumentLayout.json
DemoFirstCsharp/DemoFirstCsharp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DemoFirstCsharp/DemoFirstCsharp/Program.cs
DemoFirstCsharp/.vs/DemoFirstCsharp/v17/.suo
DemoFirstCsharp/.vs/DemoFirstCsharp/v17/DocumentLayout.json
DemoFirstCsharp/DemoFirstCsharp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DemoFirstCsharp/DemoFirstCsharp/Program.cs
